<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Breathe99</title>
    <link href="dist/styles.css" rel="stylesheet">
    <!--<link rel="icon" type="" href="img/favicon.ico" type="image/x-icon">-->
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="top__first">
                <img class="logo" src="img/logo.png" alt="">
            </div>
            <div class="top__last">
                menu item
            </div>
        </div>
        <div class="middle">
            <div class="middle__render">

            </div>
            <div class="middle__render">
                <img src="img/mask-front.png" alt="">
            </div>
            <div class="middle__render">

            </div>
        </div>
        <div class="bottom">
            <div class="bottom__first">
                menu item
            </div>
            <div class="bottom__last">
                menu item
            </div>
        </div>
    </div>
    <script src="dist/main.bundle.js"></script>
</body>

</html>
