<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Breathe99</title>
    <link href="dist/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="top">
            LOGO
        </div>
        <div class="middle">
            <div class="middle__render">
                render1
            </div>
            <div class="middle__render">
                render2
            </div>
            <div class="middle__render">
                render3
            </div>
        </div>
        <div class="bottom">
            menu item
        </div>
    </div>
    <script src="dist/main.bundle.js"></script>
</body>

</html>