<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Breathe99</title>
    <script src="https://use.typekit.net/ano4ins.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="dist/styles.css" rel="stylesheet">
    <!--<link rel="icon" type="" href="img/favicon.ico" type="image/x-icon">-->
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="top__first">
                <a href="/"><img class="logo" src="img/logo.png" alt=""></a>
            </div>
            <div class="top__last menu">
                <a href="#">about</a>
                <a href="#">join</a>
            </div>
        </div>
        <div class="middle">
            <div class="middle__column mask">
                <img style="width:375px;"src="img/mask-front.png" alt="">
                <p>DRAG TO ROTATE</p>
                <!-- <iframe src="https://spinzam.com/shot/embed/?idx=16355" width="700" height="700" frameborder="0" scrolling="no" style="max-width:100%; max-height:100vw;" seamless></iframe> -->
            </div>
            <div class="middle__column text">
              <h1>breathe freely</h1>
              <p>Introducing the world's most innovative respirator</p>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom__first">
              <a href="mailto:hello@breathe99.com">hello@breathe99.com</a>
            </div>
            <div class="bottom__last">
              breathe99 LLC | &copy; 2017
            </div>
        </div>
    </div>
    <script src="dist/main.bundle.js"></script>
</body>

</html>
