// Import helpers
@import "./breakpoints";
@import "./color";
@import "./type";
@import "./animation";
@import "./video";

body {
    margin: 0;
    height: 100vh;
    display: flex;

    background: linear-gradient(to bottom, $babyBlue 0%, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 0%);

    @include mobile_tablet {
      height: auto;
    }
    &:before {
      background: linear-gradient(to bottom, $babyBlue 0%, rgba(246,246,246,1) 92%, rgba(255,255,255,1) 100%);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0; left: 0;
      opacity: 0;
      width: 100%;
      z-index: -100;
      transition: opacity 1s;
    }
    &.active {
      &:before {
        opacity: 1;
      }
    }
}

.container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 35px auto;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;

    @include mobile_tablet {
      padding: 0;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    @include mobile_tablet {
      margin: 20px 0;
      padding: 0 20px;
    }
    svg {
      height: 61px;
      width: 25px;
    }
    .logo {
        height: 60px;
        margin-left: 20px;
        fill: $gray;
        transition: fill 0.2s;

        &:hover {
          fill: #e6e6e6;
        }
    }
    &__first {}
    &__last {}
}
.menu {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  a {
    margin-bottom: 18px;
    margin-left: 20px;
    font-size: 21px;
    font-weight: 500;
    line-height: 21px;
    display: block;
    color: $gray;
    transition: color .2s;
    @include mobile_tablet {
      font-size: 16px;
    }
    &:hover {
      color: #e6e6e6;
    }
    &.active {
      color: $grayDark;
    }
  }
}
.detail {

}

.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 200px);
    margin: auto;

    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.hide-background {
      background-size: 0;
      justify-content: center;
    }
    #mask-text {
      display: none;
      opacity: 1;
      width: 300px;
      background: linear-gradient(to right, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
      padding: 50px;
      &.active {
        display: block;
      }
      p,
      div {
        transform: translateY(10px);
        opacity: 0;
      }
    }
    #about-text {
      display: none;
      opacity: 1;
      width: 300px;
      background: linear-gradient(to right, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
      padding: 50px;
      &.active {
        display: block;
      }
      p,
      div {
        transform: translateY(10px);
        opacity: 0;
      }

      p {
        font-size: 18px;
      }
    }
    #join-text {
      display: none;
      opacity: 1;
      width: 300px;
      background: linear-gradient(to right, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
      padding: 50px;
      &.active {
        display: block;
      }
      p,
      div {
        transform: translateY(10px);
        opacity: 0;
      }
    }

    @include mobile_tablet {
      flex-direction: column;
    }
    img {
        width: 100%;
        flex: 1;

        @include mobile_tablet {
          margin-bottom: 10px;
        }
    }
    &__column {
        flex: 1;
        text-align: center;
        // margin: 40px 40px;

        &.hide-text {
          display: none !important;
        }
    }
    .text {
      text-align: left;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      @include mobile_tablet {
        justify-content: center;
        width: auto;
      }
      p {
        margin-top: 0;
        margin-bottom: 15px;
      }
      h1 {
        color: $grayDark;
        font-size: 49px;
        font-weight: normal;
        margin-bottom: 10px;
        margin-top: 0;
      }
    }
    .message {
      font-size: 16px;

      &.failed {
        color: red;
      }
      &.success {
        color: green;
      }
    }
    .sign-up {
      color: $purple;
      cursor: pointer;
    }
}

input[type='text'],
input[type='email'] {
  display: block;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border: 1px solid $grayMid;
  margin-bottom: 20px;
  width: 250px;
  border-radius: 2px;
  padding: 7px;
  color: $grayMid;
  
  &:focus {
    outline: none;
    border-color: darken($babyBlue, 10);
  }
}

.button,
.close {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid $gray;
  cursor: pointer;
  transition: all .2s;

  // &:hover {
  //   border-color: darken($babyBlue, 10);
  //   color: darken($babyBlue, 10);
  // }
}
::-webkit-input-placeholder {
  color: $grayMid;
}

.bottom {
    display: flex;
    justify-content: space-between;
    color: $gray;
    font-size: 17px;
    //font-family: 'Raleway', sans-serif;

    @include mobile_tablet {
      align-items: center;
      flex-direction: column;
    }
    &__first {
      margin: 5px 0;
      a {
        color: $gray;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    &__last {
      margin: 5px 0;
      a {
        color: $gray;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
}
