// Import helpers
@import "./breakpoints";

body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: 'futura-pt', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    .logo {
        height: 60px;
        margin-left: 20px;
    }
    &__first {}
    &__last {}
}

.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @include mobile_tablet {
      flex-direction: column;
    }
    img {
        width: 500px;
        flex: 1;
    }
    &__column {
        flex: 1;
        text-align: center;
        margin: 0 20px;
    }
    .text {
      text-align: left;
    }
}

.bottom {
    display: flex;
    justify-content: center;

}
