// Import helpers
@import "./breakpoints";

$gray: #808080;
$grayDark: #4d4d4d;
$grayMid: #666666;

body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: 'futura-pt', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to bottom, rgba(146,205,217,1) 0%, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 0%);

    @include mobile_tablet {
      height: auto;
    }
    &:before {
      background: linear-gradient(to bottom, rgba(146,205,217,1) 0%, rgba(246,246,246,1) 92%, rgba(255,255,255,1) 100%);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0; left: 0;
      opacity: 0;
      width: 100%;
      z-index: -100;
      transition: opacity 1s;
    }
    &.active {
      &:before {
        opacity: 1;
      }
    }
}
a {
  text-decoration: none;
}
p {
  font-size: 21px;
  color: $grayMid;
  font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 35px auto;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    svg {
      height: 61px;
      width: 25px;
    }
    .logo {
        height: 60px;
        margin-left: 20px;
        fill: $gray;
    }
    .menu {
      text-align: right;
      a {
        margin-bottom: 15px;
        font-size: 36px;
        line-height: 21px;
        display: block;
        color: $gray;
        transition: color .2s;

        &:hover {
          color: #e6e6e6;
        }
        &.active {
          color: white;
        }
      }
    }
    &__first {}
    &__last {}
}

.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;
    margin: auto;

    #about-text {
      display: none;

      &.active {
        display: block;
      }

      p {
        font-size: 18px;
      }
    }
    #join-text {
      display: none;

      &.active {
        display: block;
      }
    }

    @include mobile_tablet {
      flex-direction: column;
    }
    img {
        width: 500px;
        flex: 1;
    }
    &__column {
        flex: 1;
        text-align: center;
        margin: 0 20px;
    }
    .mask {
      p {
        color: #b3b3b3;
        font-size: 18px;
      }
    }
    .text {
      text-align: left;
      p {
        margin-top: 0;
        margin-bottom: 15px;
      }
      h1 {
        color: $grayDark;
        font-size: 49px;
        font-weight: normal;
        margin-bottom: 25px;
        margin-top: 0;
      }
    }
}

input[type='text'],
input[type='email'] {
  display: block;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  border: 1px solid $grayMid;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 2px;
  padding: 7px;
  color: $grayMid;

  &:focus {
    outline: none;
  }
}
.button {
  padding: 10px 20px;
  border: 1px solid $grayMid;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: white;
    border-color: white;
  }
}
::-webkit-input-placeholder {
  color: $grayMid;
}

.bottom {
    display: flex;
    justify-content: space-between;
    color: $grayMid;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;

    @include mobile_tablet {
      align-items: center;
      flex-direction: column;
    }
    &__first {
      margin: 5px 0;
      a {
        color: $grayMid;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    &__last {
      margin: 5px 0;
    }
}
